@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("fonts/Inter-Regular.woff2?v=3.19") format("woff2"),
       url("fonts/Inter-Regular.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("fonts/Inter-Bold.woff2?v=3.19") format("woff2"),
       url("fonts/Inter-Bold.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'HappyTimes';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("fonts/happy-times-NG_regular_master_web.woff2?v=3.19") format("woff2"),
       url("fonts/happy-times-NG_regular_master_web.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'HappyTimes';
  font-style:  italic;
  font-weight: 400;
  font-display: swap;
  src: url("fonts/happy-times-NG_italic_master_web.woff2?v=3.19") format("woff2"),
       url("fonts/happy-times-NG_italic_master_web.woff?v=3.19") format("woff");
}

html {
	scroll-behavior: smooth;
}

.token {
  display: block;
    margin-left: auto;
  margin-right: auto;
}
body{
	font-family:"Inter", sans;
	font-weight:400;
	color: #000;
}

header img{
	width:50px;
}


 blockquote{
   font-family:'HappyTimes', serif;
   font-style:italic;
   font-weight:400;
   font-size:1.5em;
 }


.btn {
	padding: .5rem 1.5rem;
}
.primary {
	color: #5865F2;
}
.secondary {
	color: #bbb805;
}
.btn-primary {
  background-color: #5865F2;
  border-color: #5865F2;
}
.btn-primary:hover {
  background-color: #7ba8ff;
  border-color: #7ba8ff;
}
.btn-secondary {
  background-color: #5865F2;
  border-color: #5865F2;
}
.btn-secondary:hover {
  background-color: #7ba8ff;
  border-color: #7ba8ff;
}

.bg-first {
  background-image: url('img/othersection.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  position: relative;
}
.bg-first::before {
  background: #000;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0.7;
}
.note-token {
  padding: 8px;
  text-align: center;
  color: #fff;
  background: #000;
}
.subheading {
  background: rgb(6, 168, 54,0.2);
  padding: 4px 20px;
  border-radius: 99px;
  color: #06a836;
}

h1{
	font-family:"HappyTimes", serif;
	font-style:400;
}

h2{
	font-family:"HappyTimes", serif;
	font-style:400;
	font-size: 2.5rem;
}
p, .lists li {
	opacity: 0.8;
	line-height: 28px;
}
.lists li {
  margin-bottom: 10px;
}
.lists li:last-child {
  margin-bottom: 0px;
}

a{
  color:#7ba8ff;
  transition:ease 0.2s;
  text-decoration:none;
}

a:hover, a em:hover{
  color: #5865F2;
  text-decoration:none;
}










.wrapper {
	display: inline-flex;
  }
  
  .wrapper .icon {
	position: relative;
	background-color: #ffffff;
	border-radius: 50%;
	padding: 15px;
	margin: 10px;
	width: 50px;
	height: 50px;
	font-size: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .icon img {
	width: 30px;
	transition: .3s ease-in-out;
  }

  .wrapper .tooltip {
	position: absolute;
	top: 0;
	font-size: 14px;
	background-color: #ffffff;
	color: #ffffff;
	padding: 5px 8px;
	border-radius: 5px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip::before {
	position: absolute;
	content: "";
	height: 8px;
	width: 8px;
	background-color: #ffffff;
	bottom: -3px;
	left: 50%;
	transform: translate(-50%) rotate(45deg);
	transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .icon:hover .tooltip {
	top: -45px;
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
  }
  
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  .icon:hover img {
	filter:  brightness(0%) contrast(300%) invert(100%);
  }

  .wrapper .forum:hover,
  .wrapper .forum:hover .tooltip,
  .wrapper .forum:hover .tooltip::before {
	background-color: #de406a;
	color: #ffffff;
  }
  
  .wrapper .twitter:hover,
  .wrapper .twitter:hover .tooltip,
  .wrapper .twitter:hover .tooltip::before {
	background-color: #46c1f6;
	color: #ffffff;
  }
  
  .wrapper .discord:hover,
  .wrapper .discord:hover .tooltip,
  .wrapper .discord:hover .tooltip::before {
	background-color: #5865f2;
	color: #ffffff;
  }
  
  .wrapper .substack:hover,
  .wrapper .substack:hover .tooltip,
  .wrapper .substack:hover .tooltip::before {
	background-color: #ff7731;
	color: #ffffff;
  }

  .wrapper .facebook:hover,
  .wrapper .facebook:hover .tooltip,
  .wrapper .facebook:hover .tooltip::before {
  background-color: #3d6ad6;
  color: #ffffff;
  }

  .wrapper .reddit:hover,
  .wrapper .reddit:hover .tooltip,
  .wrapper .reddit:hover .tooltip::before {
  background-color: #ff5722;
  color: #ffffff;
  }








/* header */


.header ul {
  overflow: hidden;
}


/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  padding: 28px 20px;
  user-select: none;
}

.header .menu-icon .nav-icon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .nav-icon:before,
.header .menu-icon .nav-icon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .nav-icon:before {
  top: 5px;
}

.header .menu-icon .nav-icon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

@media (min-width: 992px) {
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem; 
}
}

.header .menu-btn:checked ~ .navbar-collapse .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:before {
  transform: rotate(-45deg);
  top:0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:after {
  transform: rotate(45deg);
  top:0;
}


/* 48em = 768px @ 16pt font */

@media (min-width: 48em) {
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}